@import "bourbon/bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width : 1199px)

    /* Header styles */

    #header

        .welcome
            padding: 50px 20px //
            width: 40% //
            .welcome-content
                h1
                    margin: 26px 0 45px 0 //
                a
                    margin-top: 45px //


    /* Under Header line styles */

    #line
        .arrows
            left: 56%





/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width : 991px)

   /* Header styles */

   #header
       .welcome
           padding: 50px 20px //
           width: 40% //
           .welcome-content
               h1
                   margin: 26px 0 45px 0 //
               a
                   margin-top: 45px //
                   font-size: 22px

       .placeholder
           left: 45% //



/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width : 767px)

    /* Header styles */

    #header
        .top-nav
            .menu
                .menu-img
                    img
                        padding: 9px 11px //

                .phone
                    padding: 16px 12px //
                    margin-left: 18px //
            .book-lang
                .book
                    a
                        padding: 16px 12px 16px 50px //
                    img
                        top: 9px //
                        left: 15px //
                .lang
                    padding: 16px 15px //

        .welcome
            padding: 50px 20px //
            width: 50% //
            .welcome-content
                h1
                    margin: 26px 0 45px 0 //
                    font-size: 32px //
                a
                    margin-top: 45px //

        .placeholder
            left: 45% //

    /* Under Header line styles */

    #line
        .arrows
            left: 46%



/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width : 575px)

    /* Header styles */

    #header
        .top-nav
            .menu
                .menu-img
                    img
                        padding: 9px 11px //
                .phone
                    padding: 16px 12px //

                    margin-left: 18px //

            .book-lang
                .book
                    a
                        padding: 16px 12px 16px 50px //
                    img
                        top: 9px //
                        left: 15px //
                        width: 30px
                .lang
                    padding: 16px 15px //


        .welcome
            padding: 50px 20px //
            width: 50% //
            .welcome-content

                h1
                    margin: 26px 0 45px 0 //
                    font-size: 32px //
                a
                    margin-top: 45px //


        .placeholder
            left: 45% //




/* Custom */
@media only screen and (max-width : 480px)
	/**/


 /********************************************/


/*==========  Mobile First  ==========*/

/* Custom */
@media only screen and (min-width : 480px)
	/**/


/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width : 576px)
	/**/


/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width : 768px)
	/**/


/* Large devices (desktops, 992px and up) */
@media only screen and (min-width : 992px)
	/**/


/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width : 1200px)
 /**/
