@import "bourbon/bourbon"

$color-primary: #000
$color-secondary: #fff
$color-tertiary: #fff

$font-family-primary: 'Roboto Regular', $helvetica
$font-family-secondary: 'Georgia', $georgia

$font-color-primary: #000
$font-color-secondary: #fff
$font-color-tertiary: #fff

$line-height-base: 1
$line-height-main: 1.4
$line-height-paragraph: 1.5