@import "bourbon/bourbon"
@import "vars"
@import "base"


/* Custom styles here */

/* Header styles */

#header
    position: relative
    background: url("../img/header_bg.jpg") no-repeat center
    background-size: cover
    height: 1000px
    .top-nav
        .menu
            float: left
            .menu-img
                float: left
                width: 36px
                height: 21px
                line-height: 1
                img
                    padding: 13px 11px
                    background-color: $color-secondary

            .phone
                float: right
                background-color: rgba(0, 0, 0, 0.4)
                color: $font-color-secondary
                padding: 20px 16px
                font-size: 22px
                margin-left: 21px
                line-height: 1



        .book-lang
            float: right
            .book
                float: left
                position: relative
                a
                    display: inline-block
                    background-color: $color-tertiary
                    padding: 20px 16px 20px 60px
                    text-transform: uppercase
                    font-size: 22px
                    line-height: 1
                img
                    position: absolute
                    top: 14px
                    left: 20px
                    width: 30px

            .lang
                float: right
                padding: 20px 15px
                background-color: $color-secondary
                color: $font-color-secondary

    .welcome
        position: absolute
        float: right
        background-color: $color-primary
        padding: 100px 60px
        width: 32%
        bottom: 0
        right: 0
        .welcome-content
            position: relative
            border-top: 2px solid $color-tertiary
            padding: 0 45px
            text-align: center
            .welc-icon
                position: absolute
                top: -22px
                left: 43%
                padding: 5px
                background-color: $color-primary
                z-index: 9
            h1
                margin: 26px 0 95px 0
                font-family: $font-family-secondary
                font-size: 36px
                font-weight: 500
                text-align: center
            p
                text-align: left
            a
                margin-top: 75px
                font-size: 22px

    .placeholder
        position: absolute
        text-align: center
        left: 50%
        bottom: 30px
        img
            height: 40px
            width: 35px

/* Always at the end */

@import "media"
