@import "bourbon/bourbon"
@import "vars"
@import "base"


/* Custom styles here */

/* Header styles */

#header
    position: relative
    background: url("../img/header_bg.jpg") no-repeat center
    background-size: cover
    height: 1000px
    .top-nav
        .menu
            float: left
            .menu-img
                float: left
                width: 36px
                height: 21px
                line-height: 1
                img
                    padding: 13px 11px
                    background-color: $color-secondary
            .phone
                float: right
                background-color: rgba(0, 0, 0, 0.4)
                color: $font-color-secondary
                padding: 20px 16px
                font-size: 22px
                margin-left: 21px
                line-height: 1
                opacity: .8

        .book-lang
            float: right
            .book
                float: left
                position: relative
                a
                    display: inline-block
                    background-color: $color-tertiary
                    padding: 20px 16px 20px 60px
                    text-transform: uppercase
                    font-size: 22px
                    line-height: 1
                    span
                        opacity: .8
                img
                    position: absolute
                    top: 14px
                    left: 20px
                    width: 30px
            .lang
                float: right
                padding: 20px 15px
                background-color: $color-secondary
                color: $font-color-secondary

    .welcome
        position: absolute
        float: right
        background-color: #fff
        padding: 100px 60px
        width: 32%
        bottom: -40px
        right: 0
        z-index: 1
        .welcome-content
            position: relative
            border-top: 1px solid $color-tertiary
            padding: 0 45px
            text-align: center
            .welc-icon
                position: absolute
                top: -22px
                left: 43%
                padding: 5px
                background-color: #ffffff
                z-index: 1
            h1
                margin: 26px 0 95px 0
                font-family: $font-family-secondary
                font-size: 36px
                font-weight: 500
                text-align: center
            p
                text-align: left
            a
                margin-top: 75px
                font-size: 22px

    .placeholder
        position: absolute
        text-align: center
        left: 50%
        bottom: 30px
        img
            height: 40px
            width: 35px


/* Under Header line styles */

#line
    position: relative
    background-color: $color-secondary
    height: 80px
    .arrows
        position: absolute
        top: 15%
        left: 66%
        color: #a0adb9
        z-index: 1
        img
            height: 20px
        .left-arrow
            transform: rotate(180deg)
            margin-right: 50px


/* Section Rooms styles */

#rooms
    .top-nav
        margin-bottom: 130px
        .menu
            float: left
            .menu-img
                float: left
                width: 36px
                height: 21px
                line-height: 1
                img
                    padding: 13px 11px
                    background-color: $color-secondary
            .phone
                float: right
                background-color: rgba(0, 0, 0, 0.4)
                color: $font-color-secondary
                padding: 20px 16px
                font-size: 22px
                margin-left: 21px
                line-height: 1

        .book-lang
            float: right
            .book
                float: left
                background-color: $color-tertiary
                padding: 16px 16px
                img
                    width: 30px
            .lang
                float: right
                padding: 20px 15px
                background-color: $color-secondary
                color: $font-color-secondary

    .rooms-content
        .rooms-descr
            position: relative
            .welc-icon
                position: absolute
                top: -20px
                left: 45%
                padding: 5px
                background-color: $color-primary
                z-index: 1
            .gold-line
                width: 340px
                max-width: 100%
                border-top: 1px solid $color-tertiary
            h3
                margin-bottom: 95px
                text-transform: uppercase
                font-family: $font-family-secondary
                font-size: 36px
                text-align: center

        .room-photo
            margin-bottom: 30px
            position: relative
            h3
                position: absolute
                top: 30px
                color: $font-color-secondary
                text-transform: uppercase
                font-family: $font-family-secondary
                font-size: 18px
                opacity: .8
                transition: 0.7s
            &.standart
                h3
                    left: 30%
            &.friends
                h3
                    left: 22%
            &.semilux
                h3
                    left: 27%
            &.shale
                h3
                    left: 45%
            &.lux
                h3
                    left: 40%
            &:before
                position: absolute
                content: ''
                width: 100%
                height: 100%
                top: 0
                left: 0
                background: linear-gradient(to bottom, rgba(0,34,68, 0.7) 0%, rgba(0,34,68, 0.45) 30%)
            img
                display: block
                max-width: 100%
                z-index: -1

        /* Hover effects * /

        .room-photo
            .mask
                position: absolute
                top: 5%
                left: 5%
                width: 90%
                height: 90%
                border: 1px solid $color-primary
                overflow: hidden
                opacity: 0
                transition: 0.7s
                h3
                    top: 20px
                p
                    padding: 60px 15px 0 15px
                    color: $font-color-secondary
                    font-size: 16px
                    font-family: $font-family-primary
                    text-align: center
                    opacity: .8
                    overflow: hidden
                .persons
                    position: absolute
                    left: 10px
                    bottom: 10px
                    img
                        display: inline-block
                        width: 10px
                    span
                        color: $font-color-secondary
                        opacity: .8
                .price
                    position: absolute
                    right: 10px
                    bottom: 10px
                    img
                        display: inline-block
                        width: 10px
                    span
                        color: $font-color-secondary
                        opacity: .8

        .room-photo
            &:hover
                //h3
                //    //top: 40px
                //    transition: 0.7s
                .mask
                    opacity: 1
                    transition: 0.7s
                .room-photo-blur
                    filter: blur(5px)
                    transition: 0.7s

        /* End Hover effects * /


/* Section Offer styles */

#offer
    background-color: #fff
    padding-bottom: 80px
    .offer-wraper
        float: left
        width: 58.5%
        .superoffer
            padding: 50px
            .superoffer-block
                position: relative
                border: 1px solid $color-secondary
                .logo
                    padding: 0 25px
                    position: absolute
                    top: -40px
                    left: 41%
                    background-color: #fff
                h4
                    margin-top: 50px
                    font-family: $font-family-secondary
                    text-transform: uppercase
                    text-align: center
                    font-size: 24px
                .superoffer-text
                    padding: 40px 175px

    .superoffer-img
        position: relative
        h6
            position: absolute
            top: 25px
            left: 55px
            color: $font-color-secondary
            opacity: .8
            font-size: 16px
        img
            max-width: 100%

    .description-wrapper
        width: 41.5%
        float: right
        padding-right: 25px
        .offer-description
            padding: 50px 0
            position: relative
            background-color: $color-secondary
            .welc-icon
                position: absolute
                top: 50px
                left: 47%
                padding: 5px
                background-color: $color-secondary
                z-index: 1
            .gold-line
                width: 340px
                max-width: 100%
                border-top: 1px solid $color-tertiary

            h3
                color: $font-color-secondary
                font-family: $font-family-secondary
                font-size: 36px
                text-align: center
                text-transform: uppercase
                opacity: .8
            ul
                list-style: none
                margin-top: 45px
                li
                    color: $font-color-secondary
                    opacity: .8
                    margin-bottom: 35px
                    img
                        margin-right: 10px


/* Section Testimonials styles */

#testimonials
    position: relative
    background-color: #fff
    padding-top: 20px
    padding-bottom: 80px
    h3
        color: $font-color-primary
        text-transform: uppercase
        text-align: center
        font-family: $font-family-secondary
        font-size: 36px
        opacity: .8
        margin-bottom: 75px

    .welc-icon
        position: absolute
        top: 19px
        left: 49%
        padding: 5px
        background-color: #ffffff
        z-index: 1

    .gold-line
        width: 340px
        max-width: 100%
        border-top: 1px solid $color-tertiary

    .testimonial-img
        width: 152px

        img
            display: block
            max-width: 100%
            border-radius: 50%
            border: 1px solid $color-secondary

    p
        color: $font-color-primary
        font-family: $font-family-primary
        font-size: 16px
        margin-left: 40px

    .testimonial-button
        text-align: center
        a
            margin-top: 50px
            display: inline-block


/* Section Advantages styles */

#advanteges
    position: relative
    background-color: #fff
    padding-top: 20px
    padding-bottom: 80px
    h3
        color: $font-color-primary
        text-transform: uppercase
        text-align: center
        font-family: $font-family-secondary
        font-size: 36px
        opacity: .8
        margin-bottom: 75px
    .welc-icon
        position: absolute
        top: 19px
        left: 49%
        padding: 5px
        background-color: #ffffff
        z-index: 1
    .gold-line
        width: 340px
        max-width: 100%
        border-top: 1px solid $color-tertiary

    .restaurant
        position: relative
        .description-wrapper
            position: absolute
            top: 30px
            left: 90px
            padding: 12px
            width: 458px
            background: #ffffff
            z-index: 1
            .description
                border: 1px solid $color-secondary
                h5
                    font-size: 24px
                    text-align: center
                    text-transform: uppercase
                    font-family: $font-family-secondary
                    margin-top: 40px
                p
                    padding: 0 40px
                    margin-top: 30px
                .description-arrow
                    text-align: center
                    padding-bottom: 30px
                    a
                        display: inline-block

        .restaurant-slider
            position: relative
            .slider-photo
                position: relative
                float: left
                width: 18%
                height: 545px
                overflow: hidden
                &:before
                    position: absolute
                    content: ''
                    width: 100%
                    height: 100%
                    top: 0
                    left: 0
                    background: rgba(255, 255, 255, 0.5)
                img
                    display: block
                    width: 100%
                    height: auto
                    max-width: 100%
                &:nth-child(3)
                    float: right

            .slider-photo-dish
                float: left
                height: 545px
                width: 48.8%
                margin-left: 7.7%
                img
                    display: block
                    width: 100%
                    height: auto
                    max-width: 100%
            .left-arrow
                position: absolute
                left: 21%
                bottom: 30%
                transform: rotate(90deg)
            .right-arrow
                position: absolute
                left: 78%
                bottom: 27%


/* Section Booking styles */

#booking
    position: relative
    background-color: #fff
    padding-top: 20px
    padding-bottom: 80px
    h3
        color: $font-color-primary
        text-transform: uppercase
        text-align: center
        font-family: $font-family-secondary
        font-size: 36px
        opacity: .8
        margin-bottom: 40px
    .welc-icon
        position: absolute
        top: 19px
        left: 49%
        padding: 5px
        background-color: #ffffff
        z-index: 1
    .gold-line
        width: 340px
        max-width: 100%
        border-top: 1px solid $color-tertiary
    p
        text-align: center

    .booking-button
        text-align: center
        a
            margin-top: 50px
            display: inline-block


/* Section Booking styles */

#footer
    background: $color-secondary
    color: $color-tertiary
    padding: 35px 0 10px 0
    text-align: center
    .logo
        margin-bottom: 18px

    .menu
        ul
            list-style: none
            list-style:
            li
                display: inline-block
                margin-left: 75px
                a
                    color: $font-color-tertiary
                    img
                        margin-right: 20px

    .copyright
        margin-top: 65px
        span
            margin-left: 40px
            opacity: .8


/* Media Quarries Always at the end */

@import "media"
